<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vue détaillée {{nom}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <img [src]="image" alt=""/>
      <ion-card-title><h1><b>{{nom}}</b></h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{description}}</ion-text>
      <ion-grid>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="3"></ion-col>
          <ion-col size="6"><h2><b>PRIX : {{prix}} FCFA</b></h2></ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>


  </ion-card>
</ion-content>
