<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Page Apropos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">À Propos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <p>DIMFruitApp</p>
    <p>Copyright &copy; 2023 - DIMOGNE TEHEM Emmanuel Franck</p>
  </div>
</ion-content>
