<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>categorie</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste des catégories</ion-title>
    </ion-toolbar>
    <ion-list *ngFor="let i of categories">
      <ion-item>{{i}}</ion-item>
    </ion-list>
  </ion-header>
</ion-content>
