<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fruits" href="/tabs/fruits">
      <ion-icon aria-hidden="true" name="apps"></ion-icon>
      <ion-label>Fruits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>À Propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
