<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="pearl_side" class="bg_side" type="overlay">
      <ion-content>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['tabs/accueil']">
            <ion-label>Accueil</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/categorie']">
            <ion-label>Catégories</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/parametres']">
            <ion-label>Paramètres</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
