<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>parametres</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-list-header>Choisissez une langue</ion-list-header><br/>
    <ion-radio-group value="strawberries">
      <ion-item><ion-radio value="fr">Francais</ion-radio></ion-item><br />
      <ion-item><ion-radio value="en">Anglais</ion-radio></ion-item><br />
      <ion-item><ion-radio value="ge">Allemand</ion-radio></ion-item><br />
      <ion-item><ion-radio value="es">Espagnol</ion-radio></ion-item><br/>
      <ion-item><ion-radio value="jp">Japonais</ion-radio></ion-item><br/>
      <ion-item><ion-radio value="ch">Chinois</ion-radio></ion-item><br/>
      <ion-item><ion-radio value="co">Coréen</ion-radio></ion-item><br/>
      <ion-item><ion-radio value="ma">Mandarin</ion-radio></ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>
