<ion-header>
  <ion-toolbar>
    <ion-title>Page des fruits</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fruits</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-list-header>Liste des fruits</ion-list-header>
      <ion-card *ngFor="let i of fruits" [routerLink]="['/detailsfruit', i.id, i.nom, i.description, i.prix, i.categorie, i.image]">
        <ion-card-header>
          <img [src]="i.image" alt=""/>
          <ion-card-title><b>{{i.nom}}</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <b>PRIX : {{i.prix}} FCFA</b>
        </ion-card-content>
      </ion-card>

  </ion-list>
</ion-content>
