<ion-header>
  <ion-toolbar>
    <ion-title>Page d'accueil</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>

  </ion-header>
  <div id="container">
    <img src="assets/images/dimfruitapp.PNG">
    <p>Achetez nos fruits frais et</p>
    <p>faites-vous livrer à domicile</p>
  </div>
</ion-content>
